@page
@using WebApplication1.Repositories
@model WebApplication1.Pages.AdminPagina

@if (new GebruikerRepo().HaalRolOp() != "admin")
{
    Response.Redirect("Index");
} 

    <table class="table text-white">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">ISBN</th>
            <th scope="col">Titel</th>
            <th scope="col">Status</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var uitgave in Model.Stripboeken)
        {
            <tr>
                <th scope="row">@uitgave.Versie.versie_id</th>
                <td>@uitgave.Versie.isbn</td>
                <td>@uitgave.naam</td>
                <td>@uitgave.Versie.StatusUitgave.status</td>
                <td>
                    <form method="post">
                        <button asp-page="AdminPagina" asp-page-handler="Verwijderen" asp-route-id="@uitgave.Versie.versie_id">Verwijder</button>
                    </form>
                </td>
                <td>
                    <form method="post">
                        <button asp-page="StripboekAanpassen" asp-page-handler="Aanpassen" asp-route-id="@uitgave.Versie.versie_id">Aanpassen</button>
                    </form>
                </td>
            </tr>
            @*<div style="background: white; border: solid 1px black" class="col-lg-4 col-md-6 col-sm-12 d-flex justify-content-center flex-column">
                <p class="m-auto">ISBN: @uitgave.isbn</p>
                <p class="m-auto">Titel: @uitgave.naam</p>
                <div>
                    <form method="post">
                        <button asp-page="AdminPagina" asp-page-handler="Verwijderen" asp-route-id="@uitgave.versie_id">Verwijder</button>
                    </form>
                    <form method="post">
                        <button asp-page="StripboekAanpassen" asp-page-handler="Aanpassen" asp-route-id="@uitgave.versie_id">Aanpassen</button>
                    </form>
                </div>
            </div>*@
        }
        </tbody>
    </table>
