@page
@model WebApplication1.Pages.GebruikerPaginaModel
@using WebApplication1.Models.Klasse
@{
}

<div class="content">
    <div class="row">
        <div class="col-md-2">
            <div class="menu-style">
                <ul class="menu">
                    <li><a href="GebruikerPagina">Gebruikers</a></li>
                    <li><a href="AdminPagina">Stripboeken</a></li>
                    <li><a href="#">Personen</a></li>
                </ul>
            </div>
        </div>


        <div class="col-md-10">
            <table>
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Email</th>
                        <th scope="col">Username</th>
                        <th scope="col">Rol</th>
                        <th scope="col">Verwijderen</th>
                        <th scope="col">Aanpassen</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.model)
                    {
                        <tr>
                            <td data-label="#">@item.Id</td>
                            <td data-label="Email"> @item.Email</td>
                            <td data-label="Username">@item.UserName</td>
                            <td data-label="Rol">@item.rol </td>

                            <td data-label="Verwijderen">
                                <form method="post">
                                    <button asp-page="GebruikerPagina" asp-page-handler="Delete" asp-route-id="@item.Id">Verwijder</button>
                                </form>
                            </td>

                            <td data-label="Aanpassen">
                                <form method="post">
                                    <button asp-page="GebruikersAanpassen" asp-route-id="@item.Id">Aanpassen</button>
                                </form>
                            </td>
                        </tr>
                    }
                    <tr>
                        <td>
                            Gebruiker Toevoegen (Coming Soon)
                        </td>
                        
                    </tr>
                </tbody>
            </table>
        </div>
       <div>
    </div>
  </div>
</div>
