@page
@model WebApplication1.Pages.Zoek

@{
    ViewData["Title"] = "Geavanceerd zoeken";
}

<h1>@ViewData["Title"]</h1>

<form method="post">
    <p>
        <input type="text" name="strZoekterm">
        <select name="zoekCategorie">
            <option value="naam">Naam</option>
            <option value="isbn">ISBN</option>
            <option value="uitgever">Uitgever</option>
            <option value="prijs">Prijs</option>
        </select>
        <button type="submit" asp-page-handler="GeavanceerdZoeken">Zoeken</button>
    </p>
</form>

@if (Model.Stripboeken.Count == 0 )
        {
            <p style="color: white">Er zijn geen boeken.</p>
        }
    <div class="row">
        @foreach (var uitgave in Model.Stripboeken)
        {
            <div style="background: white; border: solid 1px black" class="col-lg-4 col-md-6 col-sm-12 d-flex justify-content-center flex-column">
                <img class="img-thumbnail" src="@uitgave.afbeelding_url"/>
                <p class="m-auto">ISBN: @uitgave.isbn</p>
                <p class="m-auto">Titel: @uitgave.naam</p>
                <p class="m-auto">Prijs: €@uitgave.prijs</p>
                <p class="m-auto">Uitgever: @uitgave.uitgever_naam</p>
            </div>
        }
    </div>

